.center-section{
    width: 100%;
    height: 800px;
    border:1px solid #2b58ec;
    background: url('./img/drawingicon/background.jpg') no-repeat;
    position: absolute;
    background-size: cover;
    z-index: 0;
}

/* left-section */
.left-section{
    width: 398px;
    height: 799px;
    position: absolute;
    border: 1px solid #2b58ec;
    background-color: white;
    transition: 0.4s;
    opacity: 1;
    /* z-index: 2; */

}
.left-section > .left-sub{
    margin: 3%;
    transition: 0.5s;
    overflow-y: auto;
    height: 87%;
    width: 374px;
}

.left-sub > div > div > img{
    cursor: move;
}

.left-section > .left-sub > .left-section-sub2{font-size: 22px; margin-bottom: 10px;}
.left-section > .left-sub > .left-section-sub2 > button{
    float: right;
    background: blue;
    color: white;
    font-weight: bold;
    border: 1px solid blue;
}
.left-section > .left-sub > .left-section-sub2 > .leftSubTitle{display: inline;}
.left-section > .left-sub > .left-section-sub2 > div{
    width: 98%;
    height: 60px;
    border: 1px solid #2b58ec;
    text-align: center;
    overflow-y: hidden;
    transition: 0.4s;
    margin-top: 10px;
 }
.left-section > .left-sub > .left-section-sub2 > div > img{
    height: 45px;
    width: 45px;
    margin-top: 9px;
    margin-left: 13px;
    margin-right: 13px;
    margin-bottom: 1px;
    object-fit: contain;
}
.left-section > .left-sub > .left-section-sub3{font-size: 22px; margin-bottom: 10px;}
.left-section > .left-sub > .left-section-sub3 > .leftSubTitle{display: block; margin-bottom: 10px;}
.left-section > .left-sub > .left-section-sub3 > div{
    width: 98%;
    height: 60px;
    border: 1px solid #2b58ec;
    text-align: center;
    overflow-y: hidden;
    transition:0.4s;
 }
 .left-section > .left-sub > .left-section-sub3 > div > img{
    height: 45px;
    width: 45px;
    margin-top: 9px;
    margin-left: 13px;
    margin-right: 13px;
    margin-bottom: 1px;
    object-fit: contain;
}

.left-section-button{
    position: absolute;
    left: 398px;
    display: inline-block;
    transition: 0.4s;
    margin-top: 2%;
}